.elementEnter {
  opacity: 0.01;

  &.elementEnterActive {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
}

.elementLeave {
  opacity: 1;

  &.elementLeaveActive {
    opacity: 0.01;
    transition: opacity 0.5s ease-in;
  }
}