<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="9MbhI/uCnYRq1hW7OEFb2E04vBuZ3ryTEr6IjSQSczgU2zkGVvd2YjGPnB57e5zkjCna4rUsCtmw6A8lXn776g==" />

    <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" data-turbolinks-track="reload" />
    <script src="/assets/application-d27f342d666bb11ef19c9b9f187c389b17e8fb7c988dc246f41363cc5bd51d07.js" data-turbolinks-track="reload"></script>
    <script src="/webpack/production/webpack-bundle.js"></script>
  </head>

  <body>
    <h1>Hello World</h1>
<script type="application/json" id="js-react-on-rails-context">{"inMailer":false,"i18nLocale":"en","i18nDefaultLocale":"en","href":"https://react-on-rails-redux-gen-8-0-0.herokuapp.com/","location":"/","scheme":"https","host":"react-on-rails-redux-gen-8-0-0.herokuapp.com","port":null,"pathname":"/","search":null,"httpAcceptLanguage":"en-US,en;q=0.8","serverSide":false}</script>
<script type="application/json" class="js-react-on-rails-component" data-component-name="HelloWorldApp" data-trace="false" data-dom-id="HelloWorldApp-react-component-e5f995c3-091e-40cb-830f-769b8b22d523">{"name":"Stranger"}</script>
    <div id="HelloWorldApp-react-component-e5f995c3-091e-40cb-830f-769b8b22d523"></div>
    



  </body>
</html>
