.notification {
  padding: 1em 1.5em;
}

.logo {
  background: url('./images/railsonmaui.png') no-repeat left bottom;
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  width: 146px;
}

.twitterImage {
  background: url('./images/twitter_64.png') no-repeat;
  height: 64px;
  width: 64px;
}