<!DOCTYPE html>
<html>
  <head>
    <title>HfNew</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'main' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
